<p id="notice"><%= notice %></p>
<div class="container" %>
<h1>Bookmarks</h1>
<%= link_to 'New Bookmark', new_bookmark_path, class: "button" %>
<br />

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Url</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @bookmarks.each do |bookmark| %>
        <tr>
          <td>
          <%= link_to(bookmark) do %>
            <button class="button button-outline"><%= bookmark.name %></button>
          <% end %>
          </td>
          <td><%= bookmark.url %></td>
          <td><%= link_to 'Edit', edit_bookmark_path(bookmark), class:"button button-clear" %></td>
          <td><%= link_to 'Destroy', bookmark, method: :delete, data: { confirm: 'Are you sure?' }, class:"button button-clear" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>


